{% load static %} {% include "navbar.html" %}

<link
  rel="stylesheet"
  href="{% static 'style/partials/usuarios/amigos.css' %}"
/>

{% block content %}

<div class="container">
    
  <!-- Incluindo o componente de lista de amigos -->
  {% include "usuarios/_lista_amigos.html" %}

  <div class="box adicionar-amigos">
    <h4>Adicionar amigos</h4>
    <div class="opcoes-amigos">
      <!-- Link direto para página -->
      <a href="{% url 'usuarios:encontrar_amigos' %}" class="botao-opcao"><img src="/static/img/lupa_cor.svg" alt="lupa_cor"> Encontrar</a>
      <!-- Botão para abrir o modal -->
      <a href="javascript:void(0)" onclick="abrirModalConvidar()" class="botao-opcao"><img src="/static/img/carta.svg" alt="lupa_cor"> Convidar</a>
    </div>
  </div>

  {% if pendentes %}
  <section class="box solicitacoes">
    <h4>Solicitações recebidas ({{ pendentes|length }})</h4>
    {% for solicitacao in pendentes %}
      <div class="perfil-item">
        <img src="{% static solicitacao.remetente.perfil.avatar_arquivo %}" alt="Avatar de {{ solicitacao.remetente.username }}">
        <strong>{{ solicitacao.remetente.username }}</strong>
        <form method="post" action="{% url 'usuarios:aceitar_solicitacao' solicitacao.id %}">
          {% csrf_token %}
          <button type="submit">Aceitar</button>
        </form>
        <form method="post" action="{% url 'usuarios:recusar_solicitacao' solicitacao.id %}">
          {% csrf_token %}
          <button type="submit">Recusar</button>
        </form>
      </div>
    {% endfor %}
  </section>
  {% endif %}

</div>


<!-- Modal oculto inicialmente -->
<div id="modal-convidar" class="modal">
    <div class="modal-content">
      <span class="close" onclick="fecharModalConvidar()">&times;</span>
      <h2>Convidar amigos</h2>
      <form method="post" action="{% url 'usuarios:convidar_amigos' %}">
        {% csrf_token %}
        <label for="email">E-mail do amigo:</label>
        <input type="email" name="email" id="email" required />
        <button type="submit">Enviar convite</button>
      </form>
    </div>
  </div>



<script>
  function abrirModalConvidar() {
    document.getElementById("modal-convidar").style.display = "block";
  }

  function fecharModalConvidar() {
    document.getElementById("modal-convidar").style.display = "none";
  }

  // Fechar o modal se o usuário clicar fora dele
  window.onclick = function (event) {
    const modal = document.getElementById("modal-convidar");
    if (event.target === modal) {
      modal.style.display = "none";
    }
  };
</script>
{% endblock %}
