{% load static %}

<link rel="stylesheet" href="{% static 'style/partials/usuarios/editar_perfil.css' %}" />
{% include "navbar.html" %}

{% block content %}

{% if messages %}
    <div class="mensagens">
      {% for message in messages %}
        <div class="alert">
          {{ message }}
          <span class="close-btn" onclick="this.parentElement.style.display='none';" role="button" aria-label="Fechar notificação">&times;</span>
        </div>
      {% endfor %}
    </div>
{% endif %}

<div class="container">
  <div class="account-layout">
    <!-- Sidebar -->
    <div class="sidebar">
      <ul class="nav">
        <li class="nav-item"><a class="nav-link active" href="#" data-section="informacoes">Informações</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-section="preferencias">Preferência</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-section="senha">Mudar Senha</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-section="links">Links</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-section="conexoes">Conecções</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-section="notificacoes">Notificações</a></li>
        <li class="nav-item nav-logout">
          <a class="nav-link nav-link-logout" href="{% url 'usuarios:logout_usuario' %}">Sair da conta</a>
        </li>
      </ul>
    </div>

    <!-- Conteúdo principal -->
    <div class="main-content">

      <div class="content-section active" id="section-informacoes">
        {% include "usuarios/components/voltar.html" %}
        {% include 'usuarios/partials/informacoes.html' %}
      </div>

      <div class="content-section" id="section-preferencias" >
        {% include "usuarios/components/voltar.html" %}
        {% include 'usuarios/partials/preferencias.html' %}
      </div>

      <div class="content-section" id="section-senha" >
        
      </div>

      <div class="content-section" id="section-links" >
        
      </div>

      <div class="content-section" id="section-conexoes" >
        
      </div>

      <div class="content-section" id="section-notificacoes" >
        
      </div>

    </div>
  </div>
</div>


<script src="{% static 'js/partials/usuarios/editar_perfil.js' %}" defer></script>


{% endblock %}
