{% load static %}

<!doctype html>
<html lang="pt">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>Login</title>
    <link
      rel="icon"
      type="image/svg+xml"
      href="/static/img/fav_icon_laranja_e_branco.svg"
    />
    <link rel="stylesheet" href="{% static 'style/auth.css' %}" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <form method="POST">
        {% csrf_token %}

        <img
          class="auth-logo"
          src="{% static 'img/Logo_Cventure_white.svg' %}"
          alt="Cventure"
        />
        <h3>Login</h3>

        {% if messages %}
        <ul class="messages">
          {% for message in messages %} {% if 'login' in message.tags %}
          <li class="message-alert {{ message.tags }}">{{ message }}</li>
          {% endif %} {% endfor %}
        </ul>
        {% endif %}

        <div class="input-box">
          <label for="username">Nome</label>
          <div class="input-icon">
            <input
              autocomplete="off"
              type="text"
              placeholder="Nome ou E-mail"
              name="username"
              id="username"
              required
            />
            <i class="bx bx-user"></i>
          </div>
        </div>
        <div class="input-box">
          <label for="password">Senha</label>
          <div class="input-icon-password">
            <input
              autocomplete="off"
              type="password"
              placeholder="Digite sua senha"
              name="password"
              id="password"
              required
            />
            <i class="bx bx-show" id="togglePassword"></i>
          </div>
        </div>

        <button>Entrar</button>
        <a class="register" href="{% url 'usuarios:cadastro_usuario' %}"
          >Ainda não tem conta? Cadastre-se</a
        >
      </form>
    </div>
  </body>

  <script src="{% static 'js/script.js' %}"></script>
</html>
