{% load static %}
{% include "navbar.html" %}


<link
  rel="stylesheet"
  href="{% static 'style/partials/usuarios/perfil.css' %}"
/>

{% block content %}

<div class="container">
  <div class="content-perfil">
    <div class="head">
      <!-- <div class="infos"> -->
      <!-- Foto de Perfil -->
      <div class="perfil-photo">
        {% if perfil.foto %}
        <img src="{{ perfil.foto.url }}" alt="Foto de Perfil" />
        {% else %}
        <img src="{% static 'img/default.png' %}" alt="Foto padrão" />
        {% endif %}
      </div>

      <div class="parte2">
        <div class="form-group name">
          <p>{{ user.username }}</p>
        </div>

        <div class="form-group pontos">
          <p>{{ perfil.pontos }} XP</p>
        </div>

        <!-- Seguidores e Seguidos -->
        <div class="form-group seguidores">
          <div class="box">
            <p>Seguidos {{ perfil.seguidos }}</p>
          </div>

          <div class="box">
            <p>Seguidores {{ perfil.seguidores }}</p>
          </div>
        </div>

        <!-- Data de Início -->
        <div class="form-group data">
          <p>Data de Início {{ perfil.data_inicio|date:"d/m/Y" }}</p>
          <!-- Formato de data e hora -->
        </div>
      </div>

      <!-- </div> -->
    </div>

    <!-- Bio -->
    <div class="form-group">
      <p>{{ perfil.bio }}</p>
    </div>
  </div>
</div>

{% endblock %}
