@import "/static/style/global/global.css";

body {
  background-color: #ffffff;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1.5rem 1rem;
}

.page-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.back-button {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  background-color: var(--primary);
  padding: 0.75rem 1rem;
  border-radius: 50px;
  margin-right: 1rem;
  font-weight: 500;
}


.back-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}


.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  flex-grow: 1;
  color: white;
}

.guide-button {
  background-color: var(--primary-dark);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-weight: 500;
}

.header-wrapper {
  background-color: var(--primary);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}





.module-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.module-description h2 {
  font-size: 1.3em;
  color: #333;
}

.module-text {
  font-size: 16px;
  color: #555;
}

.section-actions {
  margin-top: 10px;
}

.section-actions .btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.section-actions .btn:hover {
  background-color: #0056b3;
}









.station-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px 0;
  background-color: #f9f9f9;
}

.station-card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.station-card p {
  font-size: 1em;
  margin-bottom: 10px;
}

.station-card a {
  color: #007bff;
  text-decoration: none;
}







/* Estilos para as estações */
.station-circle {
  width: 6em;
	height: 6em;
	background: var(--azul);
	border-radius: 15px;
	transition: all 0.2s ease;
  cursor: pointer;
}

.station-circle:hover {
	transform: translateY(3px);
}







.station-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ecf0f1;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  width: 200px;
  font-size: 1em;
  color: #2c3e50;
}

.station-dropdown a {
  margin: 0;
  cursor: pointer;
  background-color: var(--azul);
  padding: 1em 2em;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.station-dropdown a:hover {
  background-color: var(--azul_hover);
}




