@import"/static/style/global/global.css";

.container-exercicio {
    /* background-color: #155724; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form-exercicio{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: auto;
    /* max-width: 700px; */
    height: auto;
    padding: 25px;
    /* background-color: #e27777; */
}

h2, h3 {
    color: #333;
    margin-bottom: 1em;
}

.enunciado {
    font-size: 1em;
    margin-bottom: 2em;
}

pre {
    background: #f4f4f4;
    padding: 15px;
    border-radius: 10px;
    overflow-x: auto;
}

/* 
form {
    margin-top: 20px;
} */

label {
    display: block;
    /* margin-bottom: 10px; */
    font-size: 1.5em;
    cursor: pointer;
}


textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    resize: vertical;
}



.message, .resultado {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
}

.green {
    background-color: #d4edda;
    color: #155724;
}

.red {
    background-color: #f8d7da;
    color: #721c24;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

.back-link:hover {
    color: #000;
}







.alternativas {
    display: flex;
    flex-direction: column;
    gap: 3px;
    /* margin-bottom: 5px; */
}

.botao-alternativa {
    padding: 12px 20px;
    background-color: #ffffff;
    border: 1px solid #909090;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s ease;
    user-select: none;
}

.botao-alternativa:hover {
    background-color: #eeeeee;
}

input[type="radio"]:checked + .botao-alternativa {
    background-color: #d3f7ff;
    color: rgb(1, 92, 189);
    border-color: #3094ff;
}

