@import url("https://fonts.googleapis.com/css2?family=Jockey+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Cores principais */
  --secondary-color: #2c3e50;
  --azul: #3498db;
  --azul_hover: #217cba;

   /* Gradientes */
  --gradiente-azul: linear-gradient(135deg, var(--azul), var(--azul_hover));
  --gradiente-azul-claro: linear-gradient(135deg, #5dade2, #2874a6);
  --gradiente-azul-escuro: linear-gradient(135deg, #2c3e50, #3498db);

  /* Fundo e textos */
  --background-color: #f5f5f5;
  --text-color: #333333;
  --muted-text-color: #777777;

  /* Estados */
  --green: #2ecc71;
  --green_hover: #17954c;
  --yellow: #f1c40f;
  --yellow_hover: #c6a600;
  --red: #e74c3c;
  --red_hover: #c6301f;

  --primary: #00cc44;
  --primary-dark: #00aa33;
  --primary-light: #99ffbb;
  --dark: #333;
  --light: #f8f8f8;
  --gray: #e2e2e2;
  --completed: #00cc44;
  --locked: #d1d5db;
  --current: #ffc107;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
