{% extends 'navbar.html' %}
{%load static%}

{% block content %}
<link rel="stylesheet" href="{% static 'style/partials/ranking/ranking.css' %}">
<div class="container">
    <h2 class="text-center">Ranking</h2>
    <table class="ranking-table">
        <thead>
            <tr>
                <th>Posição</th>
                <th>Nome</th>
                <th>Pontuação</th>
            </tr>
        </thead>
        <tbody>
            {% for perfil in perfis %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ perfil.user.username }}</td>
                <td>{{ perfil.pontos }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
