<div class="exercicio-mcq-layout">
  {# Novo container para o layout de duas colunas #}
  <div class="exercicio-mcq-conteudo">
    {# Coluna da Esquerda #} {% if exercicio.enunciado %}
    <p class="exercicio-enunciado">{{ exercicio.enunciado }}</p>
    {% endif %} {% if exercicio.codigo %}
    <pre class="exercicio-codigo">{{ exercicio.codigo }}</pre>
    {% endif %}
  </div>
  <div class="exercicio-mcq-alternativas">
    {# Coluna da Direita #}
    <div class="alternativas">
      <h3>Alternativas</h3>
      {% for numero, texto in alternativas %}
      <input
        type="radio"
        name="resposta"
        id="alt{{ numero }}"
        value="{{ numero }}"
        hidden
        class="alternativa-exercicio"
        {%
        if
        resultado
        %}disabled{%
        endif
        %}
      />
      <label
        for="alt{{ numero }}"
        class="botao-alternativa {% if resultado %} {% if numero == exercicio.resposta_correta %} alternativa-correta {% elif not correta and numero == resposta_submetida %} alternativa-incorreta {% endif %} {% endif %}"
      >
        <span class="numero-alternativa">{{ forloop.counter }}</span>
        <span class="texto-alternativa">{{ texto }}</span>
      </label>

      {% endfor %}
    </div>
  </div>
</div>
