{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'style/partials/exercicios/estacao_concluida.css' %}" /> {# Crie este CSS #}

<div class="container-estacao-concluida">
    <div class="conteudo-estacao-concluida">
        <img src="{% static 'img/mascote/happy.svg' %}" alt="Mascote Feliz" class="mascote-resultado" /> {# Ajuste o caminho se necessário #}
        <h1>Parabéns!</h1>
        <p>Você concluiu todos os exercícios da estação "{{ estacao.nome }}"!</p>
        <p class="xp-ganho">Você ganhou <span class="xp-valor">{{ total_xp_estacao }} XP</span>!</p>
        <div class="botoes-resultado">
            <a href="{% url 'exercicios:percurso' modulo_id %}" class="btn-voltar-percurso">Voltar ao Percurso</a>
        </div>
    </div>
</div>

{% endblock %}
