{% extends 'navbar.html' %} {% load static %} {% block content %}
<link
  rel="stylesheet"
  href="{% static 'style/partials/exercicios/listar.css' %}"
/>

<div class="container">
  <div class="exercicio-card">
    <h1>while</h1>
    {% for exercicio in exercicios %}
    <div
      class="card {% if exercicio.bloqueado %}bloqueado{% else %}disponivel{% endif %}"
    >
      <div class="card-icon">
        <img src="{% static 'img/tarefa.svg' %}" alt="loop" />
      </div>

      <div class="card-info">
        <p class="titulo">{{ exercicio.titulo }}</p>
        <p class="categoria">{{ exercicio.categoria }}</p>

        {% if not exercicio.bloqueado %}
        <p class="xp">{{ exercicio.xp }} XP</p>
        {% endif %}
      </div>

      <div class="card-nivel">
        <p>Nível: {{ exercicio.nivel }}</p>
      </div>

      <div class="card-status">
        {% if exercicio.bloqueado %}
          <img src="{% static 'img/lock.svg' %}" alt="Bloqueado" />
        {% else %} 
          <img src="{% static 'img/ok.svg' %}" alt="Disponível">
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
