<!-- modulos.html -->
{% extends 'navbar.html' %} {% load static %} {% block content %}

<link
  rel="stylesheet"
  href="{% static 'style/partials/exercicios/modulos.css' %}"
/>

<!-- modulos.html -->
<div class="container">
  {% for modulo in modulos %}

    <div class="card">
      <h2>{{modulo.nome}}</h2>
      <div class="card-body">
        <div class="progress-container">
          <div class="progress-bar">
            <div class="progress-fill" style="width: 6.6%"></div>
          </div>
          <div class="trophy-circle">
            <img
              src="{% static 'img/trofeu.svg' %}"
              alt="Troféu"
              class="trophy-icon"
            />
          </div>
        </div>

        <div>
          <p class="card-text">{{modulo.descricao}}</p>
        </div>
        <a href="{% url 'exercicios:percurso' %}">Ver Exercícios</a>
      </div>
    </div>

  {% endfor %}
</div>

{% endblock %}
