{% extends 'navbar.html' %} {% load static %} {% block content %}

<link
  rel="stylesheet"
  href="{% static 'style/partials/exercicios/percurso.css' %}"
/>

<body>

  <div class="container">
    <div class="header-wrapper">
      <div class="page-header">
        <a href="{% url 'exercicios:modulos' %}" class="back-button">
          <img
            src="/static/img/back_white.svg"
            alt="Voltar"
            class="back-icon"
          />
          Módulo 1
        </a>
        <h1 class="module-title">{{modulo.nome}}</h1>
        <button class="guide-button">
          <!-- Conteúdo do botão -->
        </button>
      </div>
    </div>


    <div class="module-description">
      {% for secao in secoes %}
        <div class="module-description">
          <h2>{{ secao.nome }}</h2>
        </div>


        <div class="stations">

        </div>



      {% endfor %}
    </div>


  </div>

</body>

{% endblock %}
