{% extends 'navbar.html' %} {% load static %} {% block content %}

<link
  rel="stylesheet"
  href="{% static 'style/partials/exercicios/percurso.css' %}"
/>

<body>
  <div class="container">
    <div class="header-wrapper">
      <div class="page-header">
        <a href="{% url 'exercicios:modulos' %}" class="back-button">
          <img
            src="/static/img/back_white.svg"
            alt="Voltar"
            class="back-icon"
          />
          Módulo 1
        </a>
        <h1 class="module-title">Laços de Repetição</h1>
        <button class="guide-button">
          <!-- Conteúdo do botão -->
        </button>
      </div>
    </div>


    {% for section in sections %}
    <div class="section">
      <h3>{{ section.name }}</h3>
      <p>Status: {{ section.status }}</p>

      {% for station in section.stations %}
      <div class="station">
        <h4>{{ station.name }}</h4>
        <p>Status: {{ station.status }}</p>

        {% for question in station.questions %}
        <div class="question">
          <p>{{ question.question }}</p>
          <p>Status: {{ question.status }}</p>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</body>

{% endblock %}
