{% load static %}


<div class="station-circle" onclick="toggleDrop('{{ estacao.id }}')">
  {% if estacao.status == 'livre' %}
    <img src="{% static 'img/play-white.svg' %}" alt="Jogar Estação" class="play-icon" />
  {% elif estacao.status == 'completado' %}
    <img src="{% static 'img/check-white.svg' %}" alt="Estação Concluída" class="play-icon" /> {# Crie esta imagem #}
  {% elif estacao.status == 'bloqueado' %}
    <img src="{% static 'img/lock.svg' %}" alt="Estação Bloqueada" class="play-icon" /> {# Crie esta imagem #}
  {% else %}
    {# Fallback para um ícone padrão ou caso o status não seja reconhecido #}
    <img src="{% static 'img/play-white.svg' %}" alt="Estação" class="play-icon" />
  {% endif %}

  <!-- Círculo de estação -->
  <div class="station-dropdown" id="dropdown-{{ estacao.id }}">
    <span>{{ estacao.nome }}</span>

    {% if estacao.exercicios.all %}
      <!-- Se houver exercícios nesta estação -->
      <a
        href="{% url 'exercicios:resolver_exercicio' estacao.exercicios.first.id %}"
        class="btn btn-continue"
      >
        Continuar
      </a>
    {% else %}
      <!-- Se não houver exercícios nesta estação -->
      <p class="no-exercise-message">Ainda não há exercícios nesta estação.</p>
    {% endif %}
  </div>

</div>
