{% load static %}

<div
  class="station-circle
    {% if estacao.status == 'livre' %}
      status-livre
    {% elif estacao.status == 'completado' %}
      status-completado
    {% elif estacao.status == 'bloqueado' %}
      status-bloqueado
    {% else %}
      status-default {# Uma classe padrão caso haja outros status ou nenhum #}
    {% endif %}"
  onclick="toggleDrop('{{ estacao.id }}')"
>
  {% if estacao.status == 'livre' %}
    <img src="{% static 'img/play.svg' %}" alt="Jogar Estação" class="play-icon" /> {# Ícone preto para fundo branco #}
  {% elif estacao.status == 'completado' %}
    <img src="{% static 'img/check-white.svg' %}" alt="Estação Concluída" class="play-icon" /> {# Ícone branco para fundo roxo #}
  {% elif estacao.status == 'bloqueado' %}
    <img src="{% static 'img/lock.svg' %}" alt="Estação Bloqueada" class="play-icon" /> {# Ícone cinza para fundo cinza #}
  {% else %}
    <img src="{% static 'img/play-white.svg' %}" alt="Estação" class="play-icon" /> {# Ícone de fallback (branco por padrão) #}
  {% endif %}

  <!-- Círculo de estação -->
  <div class="station-dropdown" id="dropdown-{{ estacao.id }}">
    <span>{{ estacao.nome }}</span>

    {% if estacao.exercicios.all %}
      {% if estacao.status == 'completado' %}
        <a
          href="{% url 'exercicios:iniciar_estacao' estacao.exercicios.first.id %}"
          class="btn btn-practice-again" 
        >
          Praticar Novamente
        </a>
      {% else %}
        <a
          href="{% url 'exercicios:iniciar_estacao' estacao.exercicios.first.id %}" 
          class="btn btn-start-station" 
        >
          Começar
        </a>
      {% endif %}
    {% else %}
      <!-- Se não houver exercícios nesta estação -->
      <p class="no-exercise-message">Ainda não há exercícios nesta estação.</p>
    {% endif %}
  </div>

</div>
