@import"/static/style/global/global.css";


.container-botoes {
    width: 100%;
    padding: 20px;
    /* background-color: aqua; */
    border-top: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.submit {
    padding: 15px 25px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.submit2{
    padding: 15px 25px;
    background-color: var(--border-color);
    color: black;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

.pular{
    padding: 15px 25px;
    background-color: #ffffff;
    color: rgb(120, 120, 120);
    border: solid 1px #c9c9c9;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.submit:hover {
    background-color: var(--primary-dark);
}
