@import url("/static/style/global/global.css");

body {
  background-color: #d8d8d8;
  color: #141414;
}

.navbar {
  display: flex;
  background-color: rgb(241, 241, 241);
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px 70px;
}

.navbar a {
  text-decoration: none;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: #141414;
  font-size: 1rem;
  cursor: pointer;
}

.logo a {
  text-decoration: none;
}

.box-links {
  display: flex;
  gap: 20px;

  & li {
    list-style: none;

    & a {
      text-decoration: none;
      color: #141414;
      font-size: 1.2rem;
    }
  }
}

.user-profile {
  display: flex;
  gap: 30px;
  align-items: center;
  text-decoration: none;
  color: #141414;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;

  & a {
    text-decoration: none;
    color: #141414;
    font-size: 1rem;
  }
}

.user-stats {
  display: flex;
  gap: 40px;
  align-items: center;
  text-decoration: none;
  color: #141414;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;

  & p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
  }

  & img {
    width: 1.5em;
  }

  & .group {
    display: flex;
    /* background-color: rgb(143, 115, 79); */
    flex-direction: row;
    gap: 5px;
    align-items: center;
    text-decoration: none;
    color: #141414;
    font-size: 1rem;
    text-align: center;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  width: 150%;
  right: 0;
  top: 50px;
  background-color: red;
  padding: 10px;
}

.dropdown-menu.show {
  display: block;
}

.user {
  background-color: red;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  /* background-color: aqua; */
  padding: 5px 10px;

  & img {
    width: 2em;
  }

  & span {
    font-size: 1em;
  }
}

.option {
  display: flex;
  width: 100%;
  padding: 10px 0;
  background-color: aquamarine;
  /* margin: 0; */
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.option img {
  background-color: rgb(127, 202, 77);
  width: 2em;
}

.option a {
  text-decoration: none;
  color: #333;
}

.option:hover {
  background: #f0f0f0;
  /* border-radius: 5px; */
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  /* NAVBAR INFERIOR */
  .navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);

    & .logo {
      display: none;
    }
  }

  /* NAVBAR SUPERIOR */
  .user-stats {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(248, 248, 248); /* Cor de fundo visível */
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* padding: 20px 0; */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: calc(20px + env(safe-area-inset-top)) 0;

    & .group {
      /* background-color: rgb(143, 115, 79); */
      padding: 0px 20px;

      & img {
        width: 2em;
      }
    }
  }
}
