@import url("/static/style/global/global.css");

body {
  background-color: #d8d8d8;
  color: #141414;
}

.navbar{
  display: flex;
  background-color: rgb(241, 241, 241);
  justify-content: space-between;
  align-items: center;
  gap: 20px ;
  padding: 20px 70px;
}

.navbar a{
  text-decoration: none;
}

.logo{
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: #141414;
  font-size: 1rem;
  cursor: pointer;
}

.logo a{
  text-decoration: none;
}

.box-links{
  display: flex;
  gap: 20px;  

  & li{
    list-style: none;

    & a{
      text-decoration: none;
      color: #141414;
      font-size: 1.2rem;
    }
  }
}


.user-profile{
  display: flex;
  gap: 30px;
  align-items: center;
  text-decoration: none;
  color: #141414;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;

  & .user-stats{
    display: flex;
    gap: 40px;
    align-items: center;
    text-decoration: none;
    color: #141414;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;

    & p{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.5em;
      font-weight: bold;
    }

    & img{
      width: 1.5em;
    }

    & .group{
      display: flex;
      /* background-color: rgb(143, 115, 79); */
      flex-direction:row;
      gap: 5px;
      align-items: center;
      text-decoration: none;
      color: #141414;
      font-size: 1rem;
      text-align: center;
    }

  }

  & user{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  & a{
    text-decoration: none;
    color: #141414;
    font-size: 1rem;
  }
}
