@import "/static/style/global/global.css";
/* Certifique-se de que este arquivo está sendo carregado: /home/marcos-rocha/Git-hub/Django/teste2/static/style/progress.css */

/* Estilos gerais para a barra superior */
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 80%; 
  padding: 35px 55px 0px 55px; 
  box-sizing: border-box;
  /* background-color: aqua; */
  margin: 0 auto; 
}

/* A barra de progresso visual (fundo) */
.barra-progresso-visual {
  width: 100%; 
  max-width: 300px; 
  height: 15px; 
  background-color: #e0e0e0; 
  border-radius: 10px; 
  overflow: hidden; 
  position: relative; 
}

/* O preenchimento da barra de progresso */
.barra-progresso-preenchida {
  height: 100%;
  background-color: var(--primary-color); 
  transition: width 0.5s ease-in-out;
  border-radius: 9px;
}

/* Estilos para o botão de sair e ícone */
.exit-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 1.3em; 
  line-height: 1; 
  color: #333; 
}

.exit-button:hover {
  opacity: 0.7;
}

.exit-icon {
  width: 1em; 
  height: 1em; 
  display: block; 
}

/* Estilos para o contador de vidas */
.vidas {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icone-vida {
  width: 30px; 
  height: 30px;
}

.contador-vida {
  font-weight: bold;
  font-size: 1.2em;
  color: var(--black); 
}
