{% load static %}

<link rel="stylesheet" href="{% static 'style/botoes.css' %}" />

<!-- botoes.html -->
<form method="post">
    {% csrf_token %}
    <div class="container-botoes">

        {% if resultado == 'correto' %}
            <button type="submit" name="acao" value="pular" class="submit">Continuar</button>
        {% else %}
            {% if exercicios_pendentes.count > 1 %}
                <button type="submit" name="acao" value="pular" class="pular">Pular</button>
            {% else %}
                <button class="submit2" disabled>Pular</button>
            {% endif %}
            <button type="submit" name="acao" value="responder" class="submit">Responder</button>
        {% endif %}

    </div>
</form>