{% load static %}
<link rel="stylesheet" href="{% static 'style/botoes.css' %}" />

<div class="container-botoes">
    {% if exercicios_pendentes.count > 1 %}
        <button 
            type="button" 
            id="botao-pular-exercicio" 
            class="pular">
            Pular
        </button>
    {% else %}
        <button class="submit2" disabled>Pular</button>
    {% endif %}

    <button 
        type="button" 
        id="botao-responder-exercicio" 
        class="submit" 
        disabled>
        Responder
    </button>
</div>