{% load static %}

<!doctype html>
<html lang="pt-br">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>Repeat - Aprenda Algoritmos com Gamificação</title>
    <link
      rel="icon"
      type="image/svg+xml"
      href="/static/img/fav_icon_laranja_e_branco.svg"
    />
    <link
      rel="stylesheet"
      href="{% static 'style/partials/landing/lp.css' %}"
    />
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <img src="/static/img/Logo_Cventure.svg" class="logo" alt="logo" />
      <div class="header-actions">
        <a href="{% url 'etapa' 1 %}" class="start">Começar</a>
        <a href="{% url 'usuarios:login_usuario' %}" class="login">Login</a>
      </div>
    </header>

    <!-- Hero Section -->
    <section class="hero">
      <div class="hero-image">
        <img
          src="{% static 'img/lp-hero.svg' %}"
          alt="GameLoops - Aprenda Algoritmos com Gamificação"
        />
      </div>
      <div class="hero-content">
        <h2>O jeito fácil e divertido de aprender a programar!</h2>
        <!-- <p>Aprenda lógica de programação com desafios, níveis e recompensas.</p> -->
        <a href="{% url 'etapa' 1 %}" class="btn">Comece agora</a>
        <a href="{% url 'usuarios:login_usuario' %}" class="btn-login"
          >Já tenho uma conta</a
        >
      </div>
    </section>

    <!-- Benefícios -->
    <section class="section">
      <div class="benefits">
        <section class="benefit">
          <div class="benefit-img">
            <img
              src="{% static 'img/gamificado_color.svg' %}"
              alt="Gamificação"
            />
          </div>
          <div class="benefit-content">
            <h4>Interativo e Gamificado</h4>
            <p>
              Resolva desafios, ganhe pontos, avance de nível e desbloqueie
              conquistas.
            </p>
          </div>
        </section>

        <section class="benefit">
          <div class="benefit-content">
            <h4>Trilhas claras de aprendizagem</h4>
            <p>
              Siga um caminho guiado com desafios progressivos, do básico ao
              avançado..
            </p>
          </div>
          <div class="benefit-img">
            <img
              src="{% static 'img/percurso_color.svg' %}"
              alt="Aprendizado Flexível"
            />
          </div>
        </section>

        <section class="benefit">
          <div class="benefit-img">
            <img
              src="{% static 'img/pratica_color.svg' %}"
              alt="Código na prática"
            />
          </div>
          <div class="benefit-content">
            <h4>Prática real</h4>
            <p>
              Aprender código na prática é a melhor forma de dominar a lógica.
            </p>
          </div>
        </section>
      </div>
    </section>

    <!-- Como funciona -->
    <!-- <section class="section light-bg">
      <h3>Veja como funciona</h3>
      <ol class="steps">
        <li>Escolha um desafio (ex: “Encontre o erro”)</li>
        <li>Resolva com código na prática</li>
        <li>Receba feedback, aprenda e avance de nível</li>
      </ol>
    </section> -->

    <!-- Call to Action -->
    <section class="cta">
      <h3>Pronto para começar?</h3>
      <p>Crie sua conta e comece a aprender de forma divertida e eficaz.</p>
      <a href="{% url 'etapa' 1 %}" class="btn">Começar agora</a>
    </section>

    <!-- Footer -->
    <footer class="footer">
      <p>&copy; 2025 GameLoops. Todos os direitos reservados.</p>
      <div class="footer-links">
        <a href="#">Sobre</a>
        <a href="#">Contato</a>
        <a href="#">Termos</a>
      </div>
    </footer>
  </body>
</html>
