{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GameLoops</title>
    <link rel="stylesheet" href="{% static 'style/navbar.css' %}" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
      <nav class="navbar">
        <div class="logo">
          <a href="{% url 'exercicios:main' %}"><h1>GameLoops</h1></a>
        </div>

        <ul class="box-links">
          <li><a href="{% url 'exercicios:lista_exercicios' %}">Exercícios</a></li>
          <li><a href="{% url 'ranking:ranking' %}">Ranking</a></li>
        </ul>


        <div class="user-profile">
          <div class="user-stats">
            <p><img src="{% static 'img/heart.svg' %}"> {{ perfil.vidas }}</p>
            <p>⭐ {{ perfil.pontos }}</p>
            <p><img src="{% static 'img/fire.svg' %}"> {{ perfil.sequencia_dias }}</p>
          </div>
          
          <div class="user">
            <i class="bx bx-user"></i>
            <span>{{ user.username }}</span>
          </div>

          <a href="{% url 'usuarios:logout_usuario' %}">Logout</a>
        </div>
      </nav>

    <div class="content">{% block content %} {% endblock %}</div>
  </body>
</html>
