{% load static %}

<link rel="stylesheet" href="{% static 'style/partials/landing/etapa.css' %}" />

{% block content %}

<div class="container">
  {% if titulo %}
    <h2>{{ titulo }}</h2>
  {% endif %}

  {% if tipo == "texto" %}
    {% if etapa_atual == 1 %}
      <div class="logo-robo1">
        <img
          src="{% static 'img/mascote/robo1.svg' %}"
          alt="Mascote da Cventure"
          class="robo-animado"
        />
      </div>
    {% elif etapa_atual == 2 %}
      <div class="logo-container">
        <img
          src="{% static 'img/c-programming.svg' %}"
          alt="Logo da Linguagem C"
          class="logo-c"
        />
      </div>
    {% endif %}
    <p>{{ mensagem }}</p>
    <a href="{% url 'etapa' proxima_etapa %}" class="btn">Continuar</a>

  {% elif tipo == "opcoes" %}
    <form method="post" class="etapa-form">
      {% csrf_token %}
      {% for valor, label in opcoes %}
        <label class="option-box">
          <input type="radio" name="tempo" value="{{ valor }}" required />
          <span>{{ label }}</span>
        </label>
      {% endfor %}
      <button type="submit" class="btn">Continuar</button>
    </form>

  {% elif tipo == "notification" %}
    <div class="notificacao-box">
      <p class="mensagem-notificacao">{{ mensagem }}</p>

      <div class="botoes-notificacao">
        <a href="{% url 'etapa' proxima_etapa %}" class="btn btn-permitir">
          Permitir notificações
        </a>
        <a href="{% url 'etapa' proxima_etapa %}" class="btn btn-negar">
          Agora não
        </a>
      </div>
    </div>

  {% elif tipo == "carregamento" %}
    <div class="last-page">
      <img
        src="{% static 'img/mascote/tela_IDE.svg' %}"
        alt="Robô preparando o ambiente de exercícios"
        class="tela-ide"
      />
    </div>

    <script>
      setTimeout(() => {
        window.location.href = "{{ destino_final|escapejs }}";
      }, 6000);
    </script>
  {% endif %}
</div>

{% endblock %}
