{% load static %}

<link rel="stylesheet" href="{% static 'style/progress.css' %}">


<div class="top-bar">
    <a href="" class="exit-button" id="abrirModal">
        <img src="/static/img/close-2.svg" class="exit-icon">
    </a>
    
    </button>

    <div class="barra-progresso">
        {% for ex in exercicios_modulo %}
          <div class="bloco {% if ex.concluido %}concluido{% endif %}"></div>
        {% endfor %}
    </div>

    <div class="vidas">        
        <img src="{% static 'img/heart.svg' %}" class="icone-vida">
        <span class="contador-vida">{{ perfil.vidas }}</span>
    </div>


    <div class="modal-overlay" id="modal">
        <div class="modal">
            <p>Tem certeza que deseja sair?<br>Você perderá o progresso atual.</p>
            <div class="botoes">
                <button class="botao-sim" id="cancelarModal">Cancelar</button>
                <a href="{% url 'exercicios:percurso' modulo_id%}" class="botao-nao">Ok</a>
            </div>
        </div>
    </div>

</div>



<script>
    document.getElementById('abrirModal').addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById('modal').style.display = 'flex';
    });
    
    document.getElementById('cancelarModal').addEventListener('click', function() {
        document.getElementById('modal').style.display = 'none';
    });
</script>