{% extends 'navbar.html' %} {% load static %} {% block content %}

<link
  rel="stylesheet"
  href="{% static 'style/partials/desafios/desafios.css' %}"
/>
<div class="container">
  <!-- Lado Esquerdo: Desafios Diários -->
  <div class="left-section">
    <div class="missoes-card">
      <div class="missoes-header">
        <h2>Missões do dia</h2>
        <span class="tempo-restante">
          <img src="{% static 'img/clock.svg' %}" alt="">{{ horas_restantes }} Horas
        </span>
      </div>

      <div class="missoes-lista">
        {% if desafios_usuario %} {% for du in desafios_usuario %}
        <div class="missao-item">
          <img
            class="icone-missao"
            src="{% static du.desafio.imagem %}"
            alt="Ícone do desafio"
          />
          <div class="missao-info">
            <p>{{ du.desafio.titulo }}</p>
            <div class="progress-bar">
              <div class="progress-fill" style="width: {{ du.porcentagem }}%;"></div>
              <span class="progress-text">{{ du.progresso }} / {{ du.desafio.meta }}</span>
            </div>
          </div>
          <img
            class="icone-bau"
            src="{% static du.desafio.bau_imagem %}"
            alt="Baú de recompensa"
          />
        </div>
        {% endfor %} {% else %}
        <p>Você ainda não possui missões ativas.</p>
        {% endif %}
      </div>
    </div>
    
  </div>

  <!-- Lado Direito: Conquistas -->
  <div class="right-section">
    
  </div>
</div>
{% endblock %}
