@import url("/static/style/global/global.css");

.content-perfil {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /* background-color: rgb(51, 51, 101); */
  background-color:var(--primary-dark);
  margin:0 auto ;
  padding: 20px 0px;
  margin-top: 100px;
}

.head {
  /* background-color: aqua; */
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: start;
  justify-content: space-around;
  color: var(--white);
  /* gap: 1em; */
  /* margin-top: 2em; */
}

.form-group {
  /* display: flex;
    align-items: center;
    justify-content: center; */
  /* width: 90%;
    height: 100%; */
  /* background-color: blue; */
}

.perfil-photo {
  top: 0;
  width: 30%;
  /* background-color: rgb(238, 106, 106); */
  display: flex;
  justify-content: end;
}
.perfil-photo img {
  width: 50%;
  height: auto;
  border-radius: 50%;
}




.parte2 {
  /* background-color: brown; */
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.name {
  color: var(--white);
  font-size: 1.5em;
  font-weight: bold;
}

.seguidores .box {
  display: flex;
}

.data {
  display: flex;
}
