@import url("/static/style/global/global.css");

.preferencias-main {
  width: 100%;
  max-width: 600px;
  /* margin: 100px auto 0; */
  padding: 30px;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.titulo-pagina {
  text-align: center;
  color: var(--primary-dark);
  font-size: 1.8em;
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group label {
  font-weight: 600;
  color: #333;
  font-size: 1.1em;
}

.select-preferencias {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
  background-color: #f9f9f9;
  cursor: pointer;
}

.btn-salvar {
  padding: 12px 20px;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 8px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.btn-salvar:hover {
  background-color: var(--primary-dark);
}